<% include header %>
<section class="box span12 project-index">
    <div class="box-header">
        <h2>
            <%= name %>
            <span class="label label-success"><%= version %></span>
            <span class="label label-important"></span>
        </h2>
    </div>
    <div class="box-content clearfix" style="display: none;" id="boxContent">
        <p class="project-index_desc"></p>
        <input type="hidden" value="<%=name%>" id="projectName"/>
        <input type="hidden" value="<%= version %>" id="version">
        <input type="hidden" value="" id="maxVersion">
        <hr>
        <div class="readme span8">
            <div class="markdown-body">

            </div>
            <p class="project-index_no_readme" style="display: none;">没有找到 README.md 文件</p>
        </div>
        <div class="span3 project-author">
            <p id="author">作者：</p>

            <p>安装：<span style="color: rgba(0,0,0,0.6);">npm install <%= name %>@<%= version %></span></p>

            <p id="labels"></p>

            <p id="download">源码下载：</p>

            <p><span class="label label-success" id="max-version"></span>是该组件的最新版本</p>

            <p class="p-history">
                历史版本：
                <select name="" id="" class="sm-select">
                    <option value="">最新版本</option>
                </select>
            </p>
            <p id="dep"></p>
        </div>
    </div>

    <div class="box-content" id="boxLoading">
        <p class="p-loading">加载中...</p>
    </div>
</section>

<script src="/assets/js/version.js?t=<%= locals.stamp %>"></script>
<script>
    $(function () {
        var pjName = $('#projectName').val();
        var version = $('#version').val();

        $.get('/package/async/' + encodeURIComponent(pjName) + '/' + version, function (res) {
            res = res || {};

            $('#boxContent').show();
            $('#boxLoading').hide();

            if (res.maxVersion) {
                $('#maxVersion').val(res.maxVersion);
                $('#max-version').text(res.maxVersion);
            }

            if (res.type) {
                $('.label-important').text(res.type);
            }

            if (res.label) {
                var labels = ('' + res.label).split(',');
                if (labels.length > 0) {
                    var html = '';
                    for (var i = 0, len = labels.length; i < len; i++) {
                        html += '<span class="label label-info">' + labels[i] + '</span>&nbsp;';
                    }

                    $('#labels').html('标签：' + html);
                }
            }

            //
            if (res.readme) {
                $('.markdown-body').html(res.readme);
            }
            else {
                $('.project-index_no_readme').show();
            }

            if (res.package) {
                var pkg = res.package;
                // 更新
                var downloadHtml = '<a href="' + pkg._resolved + '" target="_blank" class="btn btn-link">下载</a>';
                $('#download').append(downloadHtml);

                $('.project-index_desc').text(pkg.description);

                // dep
                if (pkg.dependencies) {
                    var html = '';
                    var length = 0;
                    for (var p in pkg.dependencies) {
                        if (pkg.dependencies.hasOwnProperty(p)) {
                            var tempHtml = '';
                            if (p.indexOf('@suning/') !== -1) {
                                tempHtml = '<a class="btn-link" href="/package/' + encodeURIComponent(p) + '" target="_blank">' + p + '</a>';
                            }
                            else {
                                tempHtml = '<a class="btn-link" href="https://www.npmjs.com/package/' + encodeURIComponent(p) + '" target="_blank">' + p + '</a>';
                            }

                            html += tempHtml;
                            length += 1;
                        }
                    }
                    if (length > 0) {
                        $('#dep').html('依赖[dependencies](' + length + ')：' + html);
                    }
                }
            }

            if (res.uid) {
                var authorHtml = '<a href="/user/' + res.uid + '" class="btn-link">' + (res.authorName || res.uid) + '</a>';
                $('#author').append(authorHtml);
            }
        })
    });
</script>
<% include footer %>