<% include header %>
<section class="box span12 project-index">
    <div class="box-header">
        <h2><%= project.name %> <span class="label label-success"><%= project.version %></span> <span
                class="label label-important"><%= type %></span></h2>
    </div>
    <div class="box-content clearfix">
        <p class="project-index_desc"><%= project.description %></p>
        <input type="hidden" value="<%= pId %>" id="projectId">
        <input type="hidden" value="<%= project.name %>" id="projectName"/>
        <input type="hidden" value="<%= project.version %>" id="maxVersion">
        <hr>
        <div class="readme span8">
            <% if(readme){%>
            <div class="markdown-body">
                <%- readme %>
                <% if(history){%>
                <hr>
                <h1>更新历史</h1>
                <%- history %>
                <%}%>
            </div>

            <%}else{%>
            <p class="project-index_no_readme">没有找到 README.md 文件</p>
            <%}%>
        </div>
        <div class="span3 project-author">
            <% if(user && (user.uid == uid)){%>
            <p>编辑组件信息：<a href="/package/<%=encodeURIComponent(project.name)%>/edit" class="btn btn-success">编辑</a></p>
            <hr>
            <%}%>

            <p>搬运工：<a href="/user/<%= uid %>" class="btn-link"><%= authorName %>(<%= uid %>)</a></p>

            <p>安装：<span style="color: rgba(0,0,0,0.6);">npm install <%= project.name %></span></p>

            <% if(labels.length > 0){%>
            <p>标签：
                <% labels.forEach(function(label){ %>
                <span class="label label-info"><%= label %></span>
                <%})%>
            </p>
            <%}%>

            <p>源码下载：<a href="<%=project._resolved%>" target="_blank" class="btn btn-link">下载</a></p>

            <p><span class="label label-success" id="versionTips"><%= project.version %></span>是该组件的最新版本</p>

            <p class="p-history">
                历史版本：
                <select name="" id="" class="sm-select">
                    <option value="">最新版本</option>
                </select>
            </p>

            <% if(hasDemo){ %>
            <p>查看DEMO：<a href="/package/<%=encodeURIComponent(project.name)%>/demo" class="btn-link">DEMO</a></p>
            <% } %>

            <% if(dependencies.length >0){ %>
            <p>依赖[dependencies](<%= dependencies.length %>)：
                <% dependencies.forEach(function(dep){ %>
                <% if(dep.indexOf('@suning/') !== -1){%>
                <a class="btn-link" href="/package/<%=encodeURIComponent(dep)%>" target="_blank"><%= dep %></a>,
                <% }else{%>
                <a class="btn-link" href="https://www.npmjs.com/package/<%=encodeURIComponent(dep)%>" target="_blank"><%=
                    dep %></a>,
                <% } %>
                <%})%>
            </p>
            <% } %>
        </div>
    </div>
</section>
<script src="/assets/js/version.js?t=<%= locals.stamp %>"></script>
<% include footer %>